[Desktop Entry]
Name=Cuneiform-Qt
GenericName=Cuneiform OCR
GenericName[ru]=Распознавание текстов
GenericName[uk]=Розпізнавання текстів
Exec=cuneiform-qt %u
Comment=Graphical interface for Cuneiform OCR system
Comment[ru]=Графический интерфейс для системы распознавания Cuneiform
Comment[uk]=Графічний інтерфейс для системи розпізнавання символів Cuneiform
MimeType=image/png;image/jpeg;image/tiff;image/bmp;
Type=Application
Icon=cuneiform-qt
Categories=Office;

